body{
    background-color: #efefef;
}

.main{
    background-color: white;
    margin: 30px;
}

.btn-publish{
    float:right;
    margin-bottom: 3%;
}

.btn-publish{
    float:right;
    margin-bottom: 3%;
}

.media-object{
    width: 38px;
    height: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile .section{
    margin-top: 15px;
}

.community-menu{
    color: #999;
    font-size: 13px;
}

.jumbotron{
    margin-left: 35%;
    margin-top: 8%;
}


.qvtop{
    margin-top: 10px;
}

.qvbottom{
    margin-top: 5px;
    margin-bottom: 5%;
}

.buttom-top{
    margin-top: 5%;
}

.qv{
    margin: 10px 0 5% 0;
}

.usertop{
    margin-top: 6%;
}

.media-body{
    padding-top: 2px;
}

.comment-sp-t{
    margin-top: 0px;
}

.comment-sp-b{
    margin-bottom: 5px;
}

.comment-tag{
    margin-top: 16px;
}

.menu{
    color: #999;
}

.menu .icon{
    margin-top: 5px;
    margin-right: 8px;
    cursor: pointer;
}

.menu .active{
    color: #499ef3;
}

.menu .icon:hover{
    color: #499ef3;
}

.menu .font{
    margin-top: 5px;
    margin-right: 1px;
    cursor: pointer;
}

.menu .font:hover{
    color: #499ef3;
}

.comment{
    margin-top:5px;
    margin-bottom:15px;
    border-bottom:0.5px solid #eeeeee;
}


.comment-one-top{

}

.comments{
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #e0e0e0;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px 0px 0px;
}

hr{
    box-sizing:border-box;
}

.hand{
    // 变手形
    oElement.style.cursor = "pointer";

    /*// 恢复原样*/
    /*oElement.style.cursor = "default";*/
}

.comments .comment-two-top:last-child .comment{
    display: none;
}

.comments .comment-two-bottom{
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 30px;
}

.comments .comment-two-top:last-child .comment{
    margin-bottom: 0px;
}

.comments .comment-two-top:first-child{
    margin-top: 15px;
}

.comments .comment-two-top{
    margin-left: 0px;

}

.tag{
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


.ulxg{
list-style: none;
padding-left: 0px;
color: #151faa;
}

.lixg:hover{
    text-decoration: none;
}





