<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/sms.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">社区</span>
            </button>
            <a class="navbar-brand" href="#">社区</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入搜索条件!">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=905932fc9303b64ca14a&redirect_uri=http://localhost:9002/callback&scope=user&state=1">登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-sx-12">
            <h2><span class="glyphicon glyphicon-log-in" aria-hidden="true"> 发起</span></h2>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题(简单扼要)：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题......">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必须，请参照右侧提示)：</label>
                    <textarea class="form-control" name="description" id="description" cols="30"
                              rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="请输入标签，以，隔开">
                </div>
                <div class="form-group">
                        <a class="text-dange" th:text="${errorUserIsNull}"></a>
                        <a class="text-dange" th:text="${errorTitleIsNull}"></a>
                        <a class="text-dange" th:text="${errorTagIsNull}"></a>
                    <button type="submit" class="btn btn-success btn-publish">确认发送</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-sx-12">
            <h3>问题发起规则：</h3>
            <h5>1、什么是XXXX：</h5>
            看图购是给卖家在iFashion平台发布某一款服饰搭配的工具，由1-9张全身搭配的图片+140字内的文案组成，图片中可以加入对应商品的链接。<br>
            <h5>2、为什么要发</h5>
            a.强调搭配，改变目前单品陈列的形式，给消费者整体搭配的视觉体验，提升全套购买的转化;<br>
            b.多一个外部流量渠道。目前iFashion所有展现看图购的地方(除动态外)，均是以个性化形式展现，也就意味着日常保持着良好的发布习惯，在iFashion平台展现的概率也越大;<br>
            c.营销活动，例如音乐节、深井冰、潮我看(上海站)等，商品的展现都是以形式出现的;同时，今年营销活动中都有看图购发布数量的报名规则限制，别等到活动报名的时候因为这个原因无法报名;<br>
            <h5>2、发布频率如何</h5>
            尽量保持每天发布，具体发布数量根据店铺的商品数量评估(包括买家秀)，最好是每天早中晚分时段发布，避免一下刷屏的尴尬。<br>
            举例，一个卖家能够每周上新35款，按一周七天计算，每天平均发布5条看图购，当周把所有的新款搭配都发布上来;买家秀同理，视具体数量情况决定。<br>
        </div>
    </div>
</div>
</body>
</html>